<ion-header>
  <ion-toolbar>
    <ion-title >Certificaciones</ion-title>
  </ion-toolbar>
</ion-header>
<form>
  <label>Nombre del Certificado</label>
  <input type="text" name="nombreCertificado"> <br>
  <br>
  <label>Fecha de Obtención</label>
  <input type="date" name="fechaObtencion"> <br>
  <br>
  <label>Certificado con vencimiento</label>
  <input type="checkbox" name="vencimiento"> <br>
  <br>
  <label>Fecha de Vencimiento</label>
  <input type="date" name="fechaVencimiento"> <br>
  <br>
</form>
