#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding: 16px; /* Opcional: para agregar espacio alrededor de los inputs */
    
  }
  .centered-title{
    justify-content: center;
  }
  
  ion-input {
    width: 100%; /* Para que los inputs ocupen todo el ancho disponible */
    max-width: 400px; /* Opcional: limitar el ancho máximo de los inputs */
    margin-bottom: -5px; /* Espacio entre los inputs */
  }
  
  ion-button {
    --background: #ffffff;
    --background-hover: #2f00ff;
  
    --color: rgb(0, 0, 0);
  
    --border-radius: 0;
    --border-color: #000;
    --border-style: solid;
    --border-width: 2px;
  
    --ripple-color: rgb(20, 36, 255);
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  
    width: 100%; /* Para que los inputs ocupen todo el ancho disponible */
    max-width: 400px; /* Opcional: limitar el ancho máximo de los inputs */
    
  }
  
  .custom-text-size {
    font-size: 2rem; /* Ajusta el tamaño según tus necesidades */
    padding-left: 70px;
    padding-top: 20px;
  }
   
  .custom-i{
    padding-left: 100px;
  }
  ion-checkbox {
    --size: 20px;
    --checkbox-background-checked: #6815ec;
    padding-top: 30px;
  }
  
  
  .ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #6815ec;
  }

  .costum-title{
    padding-left: 100px;
    padding-top: -10px;
  }

  .costum-icon{
    padding-left: 20px;
  }